/**/
:root {
    --boldMainColor: #CC6C5C;
    /*cosas que llamen la atención,cosas importantes, llamada a la acción*/
    --lightNeutralColor:#F2F2F2 ;
    /*fondo, elementos de soporte*/
    --darkNeutralColor: #5A6C73;
    /*parrafos y fondos oscuros*/
    --accentColor:#B1BDB9;
    /**/
    --complimentaryColor: #E7E3E4;
    /*contrasta y complenta al color principal*/
}
/*Body*/
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--lightNeutralColor);
  }
  
h1 {
    font-family: "Playfair Display", serif;
    color: var(--boldMainColor);
    margin-top: 0px;
    font-style: normal;
    font-weight: 800;
    text-transform: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}
  
h2 {
    font-family: "Playfair Display", serif;
    color: var(--boldMainColor);
    margin-top: 0px;
    font-style: normal;
    font-weight: 700;
    text-transform: normal;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}
  
h3 {
    font-family: 'IM Fell English SC', serif;
    color: var(--darkNeutralColor);
    margin-top: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}
  
h4 {
    font-family: "Playfair Display", serif;
    color: var(--darkNeutralColor);
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    text-transform: normal;
    font-size: 17px;
    line-height: 30px;
}
  
h5 {
    font-family: "Playfair Display", serif;
    color: var(--darkNeutralColor);
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    text-transform: normal;
    font-size: 16px;
    line-height: 30px;
}
  
p {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--darkNeutralColor);
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}
/*Botones*/
.btn-agregar-carrito{
    padding: .375rem .75rem;
    border: 1px solid var(--darkNeutralColor);
    border-radius: .25rem;
    color: var(--darkNeutralColor);
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
}
#btnJQuery{
    padding: .375rem .75rem;
    border: 1px solid var(--darkNeutralColor);
    border-radius: .25rem;
    color: var(--darkNeutralColor);
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
} 
#btnJQuery:hover{
    padding: .375rem .75rem;
    border: 1px solid var(--boldMainColor);
    border-radius: .25rem;
    color: var(--complimentaryColor);
    background-color: var(--boldMainColor);
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
} 
.btn-sacar-carrito{
    padding: .375rem .75rem;
    border: 1px solid var(--darkNeutralColor);
    border-radius: .25rem;
    color: var(--darkNeutralColor);
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
    margin: 50px;
}
.btn-sacar-carrito:hover{
    padding: .375rem .75rem;
    border: 1px solid var(--boldMainColor);
    border-radius: .25rem;
    color: var(--complimentaryColor);
    background-color: var(--boldMainColor);
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

/*header*/
.principalTitle a {
    text-align: center;
    color: var(--boldMainColor);
    text-decoration: none;
}
  
.list-inline {
    margin-left: 15px;
}
.list-inline .list-inline-item-right {
    align-items: flex-end;
}
.nav-link {
    color: var(--boldMainColor);
}
  
.nav-link:hover {
    color: var(--darkNeutralColor);
}
.carrito {
    height: 30px;
    width: 30px;
}
  
  /*Pagina de planes*/
#planes{
    margin-bottom: 100px;
    margin-top: 50px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
  
}
.planes__item {
    -webkit-box-shadow: 0px 20px 30px var(--darkNeutralColor);
    box-shadow: 0px 20px 30px var(--darkNeutralColor);
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.planes__item:hover {
    background-color: var(--boldMainColor);
}
.planes__item:hover .planes__item__text h4 {
    color: var(--lightNeutralColor);
}
.planes__item:hover .planes__item__text p {
    color: var(--lightNeutralColor);
}
.planes__item:hover .planes__item__text .price {
    background: var(--lightNeutralColor);
    color: var(--darkNeutralColor);
}
.planes__item:hover .btn-agregar-carrito{
    padding: .375rem .75rem;
    border: 1px solid var(--lightNeutralColor);
    border-radius: .25rem;
    color: var(--darkNeutralColor);
    background-color: var(--lightNeutralColor);
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
}
  .planes__item .hotPlanes__item .planes__item__text {
    padding: 30px 40px 30px 30px;
  }
.planes__item .hotPlanes__item .planes__item__text h4 {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 34px;
}
.planes__item .hotPlanes__item .planes__item__text p {
    font-size: 15px;
}
.planes__item .hotPlanes__item .planes__item__text .price {
    font-size: 15px;
    padding: 6px 18px;
    right: 40px;
    bottom: 30px;
}
.planes__item__pic img {
    height: 400px;
    width: 100%;
}
  
.planes__item__text {
    position: relative;
    padding: 22px 35px 20px 25px;
}
.planes__item__text h4 {
    margin-bottom: 8px;
    font-weight: 700;
    text-emphasis: bold;
}
.planes__item__text p {
    font-size: 13px;
    margin-bottom: 0;
}
.planes__item__text .price {
    font-size: 13px;
    color: var(--lightNeutralColor);
    font-weight: 700;
    padding: 6px 12px 3px;
    background: var(--darkNeutralColor);
    display: inline-block;
    position: absolute;
    right: 35px;
    bottom: 20px;
}

  /*---------Section nosotros------*/
.container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-top: 10px;
}
  
@media (min-width: 576px) {
    .container {
      max-width: 700px;
    }
} 
.circulo {
    background: var(--accentColor);
    border-radius: 50px;
    height: 100px;
    width: 100px;
}
  
.imagen-fondo-nosotros {
    background-image: url(../images/pexels-artem-beliaikin-1078958\ \(1\).jpg);
    background-repeat: no-repeat;
    /*medidas 266 x 794  */
}
  
  /*---------Section impacto------*/
.text-center {
    text-align: center !important;
}
#impacto h2{
    text-align: center ;
    margin-top: 100px;
    margin-bottom: 20px;
}
.impacto-area {
    background: var(--lightNeutralColor);
    margin-top: 20px;
    margin-bottom: 20px;
}
.impacto-area .explanation {
    border: 9px solid transparent;
    padding: 30px 22px;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    position: relative;
    z-index: 1;
    background: var(--lightNeutralColor);
}
.impacto-area .explanation .caption p {
    margin-bottom: 36px;
    color: var(--darkNeutralColor);
    font-size: 16px;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.impacto-area .explanation::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    background: var(--darkNeutralColor);
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    bottom: 0;
    left: 0;
    z-index: -1;
    /* border: 9px solid var(--complimentaryColor);  */
}
.impacto-area .explanation:hover {
    border: 1px solid transparent;
}
.impacto-area .explanation:hover .caption h5 {
    color: var(--lightNeutralColor);
    font-weight: 800;
}
.impacto-area .explanation:hover .caption p {
    color: var(--lightNeutralColor);
}
.impacto-area .explanation:hover::before {
    height: 100%;
}
  
.col-lg, .col-md, .col-sm {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
} 
.img-impacto {
    height: 90px;
    width: 90px;
}
  /*---------Section como funciona------*/
#comoFunciona {
    margin-top: 20px;
   margin-bottom: 90px;
}
  
.carousel-item {
    text-align: center;
}
.carousel-img{
    height: 500px;
    width: 100%;
}
.carousel-item h5{
    color: var(--boldMainColor);
    font-weight: 800;
    font-size: 20px;
    
}
.carousel-item  p{
    color: var(--boldMainColor);
    font-weight: 400;
    font-size: 18px;

}
  /*--------------section fotos---------------------------*/
.instagram-photo {
    overflow: hidden;
}
.instagram-photo .insta-item {
    height: 320px;
    text-align: center;
}
.instagram-photo .insta-item:hover:before {
    opacity: 1;
}
.instagram-photo .insta-item:hover .inside-text {
    opacity: 1;
    visibility: visible;
    z-index: 99;
}
.instagram-photo .insta-item:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.instagram-photo .insta-item .inside-text {
    padding-top: 130px;
    opacity: 0;
    visibility: hidden;
    position: relative;
    -webkit-transition: all 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.instagram-photo .insta-item .inside-text i {
    font-size: 30px;
    color: var(--accentColor);
}
.instagram-photo .insta-item .inside-text h5 {
    margin-top: 14px;
}
.instagram-photo .insta-item .inside-text h5 a {
    color: var(--accentColor);
}
  
.instagram-img {
    height: 20px;
    width: 20px;
    color: var(--lightNeutralColor);
}
  
.set-bg-1 {
    background-image: url(../images/pexels-djordje-cvetkovic-6389849.jpg);
     background-size:cover;
     background-repeat: no-repeat;
}
  
.set-bg-2 {
    background-image: url(../images/pexels-alena-shekhovtcova-6995871.jpg);
    background-size:cover;
    background-repeat: no-repeat;
      /*medidas 250 x 320  */
}
  
.set-bg-3 {
    background-image: url( ../images/pexels-breston-kenya-4297163.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
  
.set-bg-4 {
    background-image: url(../images/pexels-bankole-adeoni-7206287.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
  
.set-bg-5 {
    background-image: url(../images/pexels-aidan-roof-3372595.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
/*Carrito*/
#totalCarrito{
    margin-left: 30px;
    margin-bottom: 100px;
    justify-content: center;
}
#cantidad, #total{
    font-family: 'Nunito Sans', sans-serif;
    color: var(--darkNeutralColor);
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: normal;
    
}


 #itemCarrito{
     margin-top: 100px;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
} 
  /*Footer*/
.footer-section {
    background: var(--boldMainColor);
    padding-top: 75px;
    text-align: start;
}
  
.footer-left {
    margin-bottom: 30px;
}
.footer-left ul {
    list-style: none;
}
.footer-left ul li {
    color: var(--accentColor);
    font-size: 16px;
    line-height: 30px;
}
  .footer-left .footer-social {
    padding-top: 25px;
    justify-content: right;
    margin-left: 30px;
}
.footer-left .footer-social a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: var(--accentColor);
    color: var(--accentColor);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 7px;
    position: relative;
    z-index: 1;
}
.footer-left .footer-social a:hover:before {
    opacity: 1;
}
.footer-left .footer-social a:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: var(--darkNeutralColor);
    content: "";
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: -1;
}
  
.footer-widget {
    margin-bottom: 30px;
}
.footer-widget h5 {
    color: var(--accentColor);
    font-weight: 700;
    margin-bottom: 26px;
}
.footer-widget ul li {
    list-style: none;
}
.footer-widget ul li a {
    line-height: 36px;
    font-size: 16px;
    color: var(--accentColor);
}
  
  .social-media {
    height: 20px;
    width: 20px;
}